html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map {
    height: 90vh;
    width: 100vw;
}

#controls {
	display: flex;
	height: 10vh;
	width: 100vw;
	flex-direction: row;
	align-items: center;
}

#search-boxes {
	display: flex;
	flex-direction: column;
}

.places-search {
	width: 300px;
	height: 30px;
}

#search-button {
	width: 50px;
	height: 30px;
}
